<h1>Item Orders</h1>

{% block content %}

{% for item_order in item_orders %}

<form action="/orders/<int:order_id>" method="POST">
    <label for="item">Select an item :</label>
    <select name="item_id" id="item">
    {% for item in items %}
    <option value="{{ item.id }}">{{ item.name }}</option>
    {% endfor %}
    </select>

    <label for="order">Select an order :</label>
    <select name="order_id" id="order">
    {% for order in orders %}
    <option value="{{ order.id }}">{{ order.customer_id }}</option>
    {% endfor %}
    </select>

    <label for="quantity">Quantity:</label>
        <input id="quantity" name="quantity" type="number"/>

<input type="submit" value="Add Order">
</form>

{% endfor %}

{% endblock %}
</ul>
