{% extends 'base.jinja' %}

{% block content %}

<ul id = "customers">
<style>
ul#menu li {
  display:inline;
}
</style>
    
        <h1>Customers:</h1>
            
            <ul id="menu">
            {% for customer in customers %}
                <th>Name:</th>
                <li>{{customer.name}}.</li>
                <th>Phone Number:</th>
                <li>{{customer.phone_number}}.</li>
                <th>Address:</th>
                <li>{{customer.address}}.</li>
                <br>
                <br>
            {% endfor %}
            </ul>
            </span>

<h1>Customers</h1>

<ul id = "customer list">

<div>
    <b>{{ customer.name }}</b>
        <span>
        <h1>Enter a new customer</h1>
        <form style="display:inline" action="/customers/{{customer.id}}" method="POST">

            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />

            <label for="phone number">Phone Number:</label>
            <input type="number" name="phone number" id="phone number" />

            <label for="address">Address:</label>
            <input type = "text" name="address" id="address" />

            <input type="submit" value="Enter Customer">

        </form> 

</div>

{% endblock %}