{% extends 'base.jinja' %}

{% block content %}

<ul id = "customers">
<style>
ul#menu li {
  display:inline;
}
</style>
    
        <h1>Customers:</h1>
            
            <ul id="menu">
            {% for customer in customers %}
                <th>Name:</th>
                <li>{{customer.name}}.</li>
                <th>Phone Number:</th>
                <li>{{customer.phone_number}}.</li>
                <th>Address:</th>
                <li>{{customer.address}}.</li>
                <br>
                <br>
            {% endfor %}
            </ul>
            </span>
<input type="submit" value="Add Customer">          


{% endblock %}