{% extends 'base.jinja' %}

{% block content %}
<ul id = "new_customers">
<span>
    <h1>Enter a new customer</h1>
        <form style="display:inline" action="/customer/new_customer" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" />

            <label for="phone-number">Phone Number:</label>
            <input type="number" name="phone_number" id="phone-number" />

            <label for="address">Address:</label>
            <input type = "text" name="address" id="address" />

            <input type="submit" value="Enter Customer">

        </form> 
</ul>
{% endblock %}