{% extends 'base.jinja' %}

{% block content %}

<ul id = "item orders">
<style>
ul#menu li {
  display:inline;
}
</style>

<h1>Item Orders</h1>

<p>The date of the order: {{ order.date }} </p>
<p>The name of the customer is: {{ order.customer.name}} </p>

<form action="/orders/{{ order.id}}/add_item" method="POST">
    <label for="item">Select an item :</label>
    <select name="item_id" id="item">
        {% for item in items %}
            <option value="{{ item.id }}">{{ item.item_name }}</option>
        {% endfor %}
    </select>
    <label for="quantity">Quantity:</label>
        <input id="quantity" name="quantity" type="number"/>

<input type="submit" value="Add to order">
</form>

{% for item_order in order.item_orders%}
<p>Item: {{ item_order.item.item_name }}</p>
<p>Quantity: {{ item_order.quantity }}</p>
<p>Price: £{{ item_order.item.price }}</p>
    {% endfor %}


<a href="orders/delete_order">
  <button>Delete order</button>
</a>

{% endblock %}
</ul>
