head {
    background-image: linear-gradient(red, yellow, rgb(30, 255, 0));
    color:white;
    border: 10px solid black;
    border-bottom-right-radius: 100px;
}


body>header>nav {
    background-color: black;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body>header {
    background-color: black;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: black;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


ul {
    list-style: none;
}
  
  li {
    display: inline-block;
    margin-right: 10px; 
}
