body {
    background-color: black;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    
    background-size: cover;
    background-repeat: no-repeat;
    color: #F6F4F3;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 0px;
  }

a {
    color: rgb(255, 255, 255);
  }



