<!DOCTYPE html>
<html>
<head>
    <title>Jurassic Pork</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/customers/{{templates.idex(Customer)}}">Customers</a>
                </li>
                <li>
                    <a href="/items">Items</a>
                </li>
                <li>
                    <a href="/orders">Orders</a>
                </li>
                <li>
                    <a href="/item_orders">Item Orders</a>
                </li>
            </ul>
        </nav>
    </header>
<main class="flex flex--row">
    <section>
    {% block content %}
    {% endblock %}
    </section>
</main>
</body>
</html>