<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <link rel ="stylesheet" href ="{{ url_for('static, filename ='main.css')}}"> #}

    <title>Jurassic Pork</title>
</head>
    <h1>🌭🦖 WELCOME TO JURASSIC PORK!!! 🦕🌭</h1>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/customers">Customers</a>
                </li>
                <li>
                    <a href="/items">Items</a>
                </li>
                <li>
                    <a href="/orders">Orders</a>
                </li>
                <li>
                    <a href="/item_orders">Item Orders</a>
                </li>
                
            </ul>
        </nav>
    </header>
<main class="flex flex--row">
    <section>
    {% block content %}
    
    {% endblock %}
    </section>
</main>
</body>
</html>


