<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/main.css">
</head>
 <title>Jurassic Pork</title>
    <head>
    <h1>🌭🦖 WELCOME TO JURASSIC PORK!!! 🦕🌭</h1>
    </head>
<div>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/customers">Customers</a>
                </li>
                <li>
                    <a href="/items">Items</a>
                </li>
                <li>
                    <a href="/orders">Orders</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
<main class="flex flex--row">
    <section>
    {% block content %}
    
    {% endblock %}
    </section>
</main>
</html>


