{% extends 'base.jinja' %}

{% block content %}

<ul id = "orders">
<style>
ul#menu li {
  display:inline;
}
</style>



<h1>View All Orders</h1>

<ul id="menu">
            {% for item_order in item_orders %}
                <th>Order ID:</th>
                <li>{{item_order.order_id}}.</li>
                <th>Item ID:</th>
                <li>{{item_order.item_id}}.</li>
                <th>Quantity:</th>
                <li>{{item_order.quantity}}.</li>
                <br>
                <br>
            {% endfor %}
            </ul>




<h2>New Orders</h2>

<form action="/orders" method="POST">
    <label for="customer">Select a a customer :</label>
    <select name="customer_id" id="customer">
    {% for customer in customers %}
    <option value="{{ customer.id }}">{{ customer.name }}</option>
    {% endfor %}
    </select>
<input type="submit" value="Add Order">
</form>

{% endblock %}