{% extends 'base.jinja' %}

{% block content %}

<h1>New Orders</h1>

<form action="/orders" method="POST">
    <label for="customer">Select a a customer :</label>
    <select name="customer_id" id="customer">
    {% for customer in customers %}
    <option value="{{ customer.id }}">{{ customer.name }}</option>
    {% endfor %}
    </select>
<input type="submit" value="Add Order">
</form>

{% endblock %}