{% extends 'base.jinja' %}

{% block content %}

<ul id = "items">
<style>
ul#menu li {
display:inline;
}
</style>
    
        <h1>Items:</h1>
            
            <ul id="menu">
            {% for item in items %}
                <th>Name:</th>
                <li>{{item.item_name}}</li>
                <th>, Price: £</th>
                <li>{{item.price}}</li>
                <br>
            {% endfor %}
            </ul>
            </span>

{% endblock %}
</ul>


