{% extends 'base.jinja' %}

{% block content %}

<h1>Items</h1>

{% for item in item %}

<ul id = "items">
<td><a href="/items/{{ items.id }}"> {{item.name}} </a></td>
    
    {# drop down menu taken from item id on items db #}
    <li>
        <label for="items">Choose an item:</label> 
            <select name="items" id="items"> 
                    <option value="/item{{models.item(id)}}">
                    </option> 
            </select>
    </li>

{% endfor %}

{% endblock %}
</ul>


